<!-- Interpolation -->
<p>Hello {{user.name}}!</p>
<p>Your age is {{user.age}}.</p>


<!-- Property binding -->
<p>Please input your name:</p>
<input type="text" [value]="user.name" />

<!-- Event Binding -->
<button (click)="sayHi(user.name)">Say Hi!</button>

<br/>

<!-- Two-way Binding -->
<input type="text" [(ngModel)]="user.name" />

<br/>

<input type="text" [ngModel]="user.name" (ngModelChange)="user.name = $event" />

<!-- ngif -->
<div *ngIf="user.age >= 13">You can see this 13+ film.</div>

<ng-container *ngIf="user.age < 13">
  <p>You cannot see this 13+ film.</p>
</ng-container>


<div *ngIf="user.age >= 13; else noPG13">You can see this 13+ film.</div>

<ng-template #noPG13>
  <p>You cannot see this 13+ film.</p>
</ng-template>

<ng-template [ngIf]="user.age >= 13" [ngIfElse]="noPG13">
  <p>You cannot see this 13+ film.</p>
</ng-template>

<h3>ngTemplate & ngTemplateOutlet</h3>

<div class="card">
  <div class="card-header">
    You have selected
    <ng-container [ngTemplateOutlet]="counterTmp"></ng-container> items.
  </div>
  <div class="card-body">
    There are <ng-container [ngTemplateOutlet]="counterTmp"></ng-container> items was
    selected.
  </div>
  <div class="card-footer">
    You have selected
    <ng-container [ngTemplateOutlet]="counterTmp"></ng-container> items.
  </div>
</div>

<ng-template #counterTmp>
  <span class="badge badge-primary">{{ counter }}</span>
</ng-template>
