<!-- Interpolation -->
<p>Hello {{user.name}}!</p>
<p>Your age is {{user.age}}.</p>


<!-- Property binding -->
<p>Please input your name:</p>
<input type="text" [value]="user.name" />

<!-- Event Binding -->
<button (click)="sayHi(user.name)">Say Hi!</button>

<!-- Two-way Binding -->
<input type="text" [(ngModel)]="user.name" />

<input type="text" [ngModel]="user.name" (ngModelChange)="user.name = $event" />

<!-- ngif -->
<div *ngIf="user.age >= 13">You can see this 13+ film.</div>

<ng-container *ngIf="user.age < 13">
  <p>You cannot see this 13+ film.</p>
</ng-container>


<div *ngIf="user.age >= 13; else noPG13">You can see this 13+ film.</div>

<ng-template #noPG13>
  <p>You cannot see this 13+ film.</p>
</ng-template>

<ng-template [ngIf]="user.age >= 13" [ngIfElse]="noPG13">
  <p>You cannot see this 13+ film.</p>
</ng-template>
